#
# Changes that Samsung made to /init.rc, keeping them separate to keep
# the init.universal5420.rc file closer to stock.
#

on init
    # SEC_SELINUX
    # for audit message
    chown system system /proc/avc_msg
    chmod 0660 /proc/avc_msg

    # Vibetonz 
    export VIBE_PIPE_PATH /dev/pipes 
    mkdir /dev/pipes 0771 vibe vibe 
    restorecon /dev/pipes


on post-fs-data
    # sec_efs_file
    mkdir /efs/sec_efs 0775 radio system

    # Latin SSMS feature
    mkdir /efs/SMS 0775 radio system

    # PMK permission
    mkdir /efs/mc 0770 radio system
    chown radio system /efs/mc
    chmod 0770 /efs/mc
    chown radio system /efs/mc/mc.dat
    chmod 0640 /efs/mc/mc.dat

    # SA, System SW, SAMSUNG 
    # create log directory
    mkdir /data/log 0775 system log
    chown system log /data/log
    mkdir /data/anr 0775 system system
    chown system system /data/anr
    chmod 0775 /data/log
    chmod 0775 /data/anr
    restorecon /data/log
    restorecon /data/anr

    # mobicore
    mkdir /efs/TEE  0770 radio system

    #create uibc dir
    mkdir /dev/socket/uibc 0777 media system
    chown media system /dev/socket/uibc
    chmod 0775 /dev/socket/uibc

#drm permission
    mkdir /efs/drm 0774 drm system


# [ SEC_MM_DRM
    # OMA DB directory creation
    mkdir /data/system/databases 0775
    chown system system /data/system/databases
    chmod 0775 /data/system/databases

    # DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

    # Added for Playready DRM Support
    mkdir /data/data/.drm 0775
    chown drm system /data/data/.drm
    chmod 0775 /data/data/.drm
    mkdir /data/data/.drm/.playready 0775
    chown drm system /data/data/.drm/.playready
    chmod 0775 /data/data/.drm/.playready

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm

    restorecon -R /efs
    restorecon -R /carrier
    restorecon_recursive /data/misc/keystore
    restorecon_recursive /data/property
    restorecon_recursive /data/security
# ]

on boot
    # Vibetonz 
    chmod 0660 /dev/tspdrv 
    chown vibe vibe /dev/tspdrv 

    # Change permission for interactive governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/cpu_util
    chmod 0440 /sys/devices/system/cpu/cpu0/cpufreq/interactive/cpu_util
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/enforced_mode
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/enforced_mode
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/mode
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/mode
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_enter_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_enter_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_enter_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_enter_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_exit_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_exit_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_exit_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_exit_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/param_index
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/param_index
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_enter_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_enter_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_enter_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_enter_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_exit_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_exit_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_exit_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_exit_time

    # Assume HMP uses shared cpufreq policy for all LITTLE CPUs
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq

    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/cpu_util
    chmod 0440 /sys/devices/system/cpu/cpu4/cpufreq/interactive/cpu_util
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/enforced_mode
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/enforced_mode
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/mode
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/mode
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_enter_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_enter_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_enter_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_enter_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_exit_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_exit_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_exit_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_exit_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/param_index
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/param_index
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_enter_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_enter_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_enter_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_enter_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_exit_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_exit_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_exit_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_exit_time

    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_enter_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_enter_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_enter_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_enter_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_exit_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_exit_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_exit_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_exit_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_enter_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_enter_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_enter_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_enter_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_exit_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_exit_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_exit_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_exit_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/mode
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/mode
    chown system system /sys/devices/system/cpu/cpufreq/interactive/enforced_mode
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/enforced_mode
    chown system system /sys/devices/system/cpu/cpufreq/interactive/param_index
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/param_index
    chown system system /sys/devices/system/cpu/cpufreq/interactive/cpu_util
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/cpu_util

    # Assume HMP uses shared cpufreq policy for big CPUs
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq

    # MSP Core Status
    chown system system /sys/devices/system/cpu/cpu1/online
    chown system system /sys/devices/system/cpu/cpu2/online
    chown system system /sys/devices/system/cpu/cpu3/online
    chown system system /sys/devices/system/cpu/cpu4/online
    chown system system /sys/devices/system/cpu/cpu5/online
    chown system system /sys/devices/system/cpu/cpu6/online
    chown system system /sys/devices/system/cpu/cpu7/online

    # Change permission for dvfshelper
    chown radio system /sys/power/cpufreq_table
    chmod 0664 /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_min_limit
    chmod 0664 /sys/power/cpufreq_min_limit
    chown radio system /sys/power/cpufreq_max_limit
    chmod 0664 /sys/power/cpufreq_max_limit

    # mobicore
    chmod 0660 /dev/s5p-smem
    chown system system /dev/s5p-smem
    export MC_AUTH_TOKEN_PATH /efs

#permission for TSP, Touchkey and Wacom
    chown system radio /sys/class/sec/tsp/cmd
    chmod 0660 /sys/class/sec/tsp/input/enabled
    chown system system /sys/class/sec/tsp/input/enabled

    chmod 0660 /sys/class/sec_touchkey/input/enabled
    chown system system /sys/class/sec/sec_touchkey/input/enabled
    chown system radio /sys/class/sec/sec_touchkey/brightness

    chmod 0660 /sys/class/sec/sec_epen/input/enabled
    chown system system /sys/class/sec/sec_epen/input/enabled

# Define default initial receive window size in segments.
    setprop net.tcp.default_init_rwnd 60
# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  1048576
    write /proc/sys/net/core/wmem_max  2097152

    # Switch Device
    chown system radio /sys/class/sec/switch/usb_sel
    chown system radio /sys/class/sec/switch/uart_sel
    chown system radio /sys/class/sec/switch/uart_en
    chown system radio /sys/class/sec/switch/otg_test
    chown system radio /sys/class/sec/switch/apo_factory

    # GPIO DVS
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinit_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpiosleep_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/checked_sleepGPIO

    # Define default initial receive window size in segments.
    setprop net.tcp.default_init_rwnd 60

 # permission for CHARGING
   mkdir /efs/Battery 0775 radio system
   chown radio system /efs/Battery
   chmod 0775 /efs/Battery
   chown system radio /efs/Battery/fg_full_voltage
   chown system radio /sys/class/power_supply/battery/fg_full_voltage
   chmod 0664 /efs/Battery/fg_full_voltage
   chmod 0664 /sys/class/power_supply/battery/fg_full_voltage
   chown system radio /sys/class/power_supply/battery/batt_reset_soc
   chown system radio /sys/class/power_supply/battery/batt_slate_mode
   chown system radio /sys/class/power_supply/battery/factory_mode
   chown system radio /sys/class/power_supply/battery/siop_level
   chown system radio /sys/class/power_supply/battery/siop_event
   chown system radio /sys/class/power_supply/battery/wc_enable
   chown system radio /sys/class/power_supply/battery/update
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/call
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/music
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/browser
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/hotspot
   chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/camera
   chown system radio /sys/class/power_supply/battery/talk_wcdma
   chown system radio /sys/class/power_supply/battery/talk_gsm
   chown system radio /sys/class/power_supply/battery/call
   chown system radio /sys/class/power_supply/battery/data_call
   chown system radio /sys/class/power_supply/battery/gps
   chown system radio /sys/class/power_supply/battery/wifi
   chown system radio /sys/class/power_supply/battery/lte
   chown system radio /sys/class/power_supply/battery/lcd
   chown system radio /sys/class/power_supply/ps/status
   chmod 0664 /sys/class/power_supply/ps/status
   chmod 0664 /sys/class/power_supply/battery/batt_temp_table
   chown system radio /sys/class/power_supply/battery/batt_temp_table
   chown system radio /sys/class/power_supply/battery/batt_high_current_usb
   chown system radio /sys/class/power_supply/battery/batt_inbat_voltage
   chmod 0664 /sys/class/power_supply/battery/batt_high_current_usb
   chown system radio /sys/class/power_supply/battery/hmt_ta_connected
   chown system radio /sys/class/power_supply/battery/hmt_ta_charge
   chown system radio /sys/class/power_supply/battery/battery_cycle
   chown system radio /sys/class/power_supply/otg/online
   chmod 0664 /sys/class/power_supply/otg/online
   chown system radio /sys/class/power_supply/max77833-charger/charge_otg_control
   chown system radio /sys/class/power_supply/battery/charge_otg_control
   chown system radio /sys/class/power_supply/battery/batt_wireless_firmware_update
   chown system radio /sys/class/power_supply/battery/otp_firmware_result
   chown system radio /sys/class/power_supply/battery/wc_ic_grade
   chown system radio /sys/class/power_supply/battery/otp_firmware_ver_bin
   chown system radio /sys/class/power_supply/battery/otp_firmware_ver
   chown system radio /sys/class/power_supply/battery/tx_firmware_result
   chown system radio /sys/class/power_supply/battery/batt_tx_firmware
   chown system radio /sys/class/power_supply/battery/batt_hv_wireless_status
   chown system radio /sys/class/power_supply/battery/batt_hv_wireless_pad_ctrl
   chmod 0664 /sys/class/power_supply/max77833-charger/charge_otg_control
   chmod 0664 /sys/class/power_supply/battery/charge_otg_control
   chmod 0664 /sys/class/power_supply/battery/batt_wireless_firmware_update
   chmod 0664 /sys/class/power_supply/battery/otp_firmware_result
   chmod 0664 /sys/class/power_supply/battery/wc_ic_grade
   chmod 0664 /sys/class/power_supply/battery/otp_firmware_ver_bin
   chmod 0664 /sys/class/power_supply/battery/otp_firmware_ver
   chmod 0664 /sys/class/power_supply/battery/tx_firmware_result
   chmod 0664 /sys/class/power_supply/battery/tx_firmware_ver
   chmod 0664 /sys/class/power_supply/battery/batt_tx_firmware
   chmod 0664 /sys/class/power_supply/battery/batt_hv_wireless_status
   chmod 0664 /sys/class/power_supply/battery/batt_hv_wireless_pad_ctrl
   chown system radio /sys/class/power_supply/battery/tx_firmware_result
   chown system radio /sys/class/power_supply/battery/batt_tune_chg_limit_cur
   chown system radio /sys/class/power_supply/battery/batt_tune_chg_temp_high
   chown system radio /sys/class/power_supply/battery/batt_tune_chg_temp_rec
   chown system radio /sys/class/power_supply/battery/batt_tune_coil_limit_cur
   chown system radio /sys/class/power_supply/battery/batt_tune_coil_temp_high
   chown system radio /sys/class/power_supply/battery/batt_tune_coil_temp_rec
   chown system radio /sys/class/power_supply/battery/batt_tune_fast_charge_current
   chown system radio /sys/class/power_supply/battery/batt_tune_float_voltage
   chown system radio /sys/class/power_supply/battery/batt_tune_intput_charge_current
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_high_event
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_high_normal
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_high_rec_event
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_high_rec_normal
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_low_event
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_low_normal
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_low_rec_event
   chown system radio /sys/class/power_supply/battery/batt_tune_temp_low_rec_normal
   chown system radio /sys/class/power_supply/battery/batt_tune_ui_term_cur_1st
   chown system radio /sys/class/power_supply/battery/batt_tune_ui_term_cur_2nd
   chmod 0664 /sys/class/power_supply/battery/batt_tune_chg_limit_cur
   chmod 0664 /sys/class/power_supply/battery/batt_tune_chg_temp_high
   chmod 0664 /sys/class/power_supply/battery/batt_tune_chg_temp_rec
   chmod 0664 /sys/class/power_supply/battery/batt_tune_coil_limit_cur
   chmod 0664 /sys/class/power_supply/battery/batt_tune_coil_temp_high
   chmod 0664 /sys/class/power_supply/battery/batt_tune_coil_temp_rec
   chmod 0664 /sys/class/power_supply/battery/batt_tune_fast_charge_current
   chmod 0664 /sys/class/power_supply/battery/batt_tune_float_voltage
   chmod 0664 /sys/class/power_supply/battery/batt_tune_intput_charge_current
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_high_event
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_high_normal
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_high_rec_event
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_high_rec_normal
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_low_event
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_low_normal
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_low_rec_event
   chmod 0664 /sys/class/power_supply/battery/batt_tune_temp_low_rec_normal
   chmod 0664 /sys/class/power_supply/battery/batt_tune_ui_term_cur_1st
   chmod 0664 /sys/class/power_supply/battery/batt_tune_ui_term_cur_2nd

on charger
    chmod 0664 /sys/class/power_supply/battery/batt_temp_table
    chown system radio /sys/class/power_supply/battery/batt_temp_table
    chmod 0664 /sys/class/power_supply/battery/batt_capacity_max
    chown system radio /sys/class/power_supply/battery/batt_capacity_max
    chown radio system /efs
    chmod 0771 /efs
    mkdir /efs/Battery 0775 radio system
    chown radio system /efs/Battery
    chmod 0775 /efs/Battery
    class_start charger
