#
# Changes that Samsung made to /init.rc, keeping them separate to keep
# the init.universal5420.rc file closer to stock.
#

on init
    # SEC_SELINUX
    # for audit message
    chown system system /proc/avc_msg
    chmod 0660 /proc/avc_msg

    # Vibetonz 
    export VIBE_PIPE_PATH /dev/pipes 
    mkdir /dev/pipes 0771 vibe vibe 
    restorecon /dev/pipes


on post-fs-data
    # sec_efs_file
    mkdir /efs/sec_efs 0775 radio system


    # Latin SSMS feature
    mkdir /efs/SMS 0775 radio system

    # PMK permission
    mkdir /efs/mc 0770 radio system
    chown radio system /efs/mc
    chmod 0770 /efs/mc
    chown radio system /efs/mc/mc.dat
    chmod 0640 /efs/mc/mc.dat

    # SA, System SW, SAMSUNG 
    # create log directory
    mkdir /data/log 0775 system log
    chown system log /data/log
    mkdir /data/anr 0775 system system
    chown system system /data/anr
    chmod 0775 /data/log
    chmod 0775 /data/anr
    restorecon /data/log
    restorecon /data/anr

    # mobicore
    mkdir /efs/TEE  0770 radio system

    #create uibc dir
    mkdir /dev/socket/uibc 0777 media system
    chown media system /dev/socket/uibc
    chmod 0775 /dev/socket/uibc

#drm permission
    mkdir /efs/drm 0774 drm system

# [ SEC_MM_DRM
    # OMA DB directory creation
    mkdir /data/system/databases 0775
    chown system system /data/system/databases
    chmod 0775 /data/system/databases

    # DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm

    restorecon -R /efs
    restorecon -R /carrier
    restorecon_recursive /data/misc/keystore
    restorecon_recursive /data/property
    restorecon_recursive /data/security
# ]

on boot
    # Vibetonz 
    chmod 0660 /dev/tspdrv 
    chown vibe vibe /dev/tspdrv 

    # mobicore
    chmod 0660 /dev/s5p-smem
    chown system system /dev/s5p-smem
    export MC_AUTH_TOKEN_PATH /efs

#permission for TSP, Touchkey and Wacom
    chown system radio /sys/class/sec/tsp/cmd
    chmod 0660 /sys/class/sec/tsp/input/enabled
    chown system system /sys/class/sec/tsp/input/enabled

    chmod 0660 /sys/class/sec_touchkey/input/enabled
    chown system system /sys/class/sec/sec_touchkey/input/enabled
    chown system radio /sys/class/sec/sec_touchkey/brightness

    chmod 0660 /sys/class/sec/sec_epen/input/enabled
    chown system system /sys/class/sec/sec_epen/input/enabled

# Define default initial receive window size in segments.
    setprop net.tcp.default_init_rwnd 60
# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  1048576
    write /proc/sys/net/core/wmem_max  2097152

    # Switch Device
    chown system radio /sys/class/sec/switch/usb_sel
    chown system radio /sys/class/sec/switch/uart_sel
    chown system radio /sys/class/sec/switch/uart_en
    chown system radio /sys/class/sec/switch/otg_test
    chown system radio /sys/class/sec/switch/apo_factory

    # GPIO DVS
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinit_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpiosleep_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/checked_sleepGPIO

    # Define default initial receive window size in segments.
    setprop net.tcp.default_init_rwnd 60

on charger
    chmod 0664 /sys/class/power_supply/battery/batt_temp_table
    chown system radio /sys/class/power_supply/battery/batt_temp_table
    chmod 0664 /sys/class/power_supply/battery/batt_capacity_max
    chown system radio /sys/class/power_supply/battery/batt_capacity_max
    chown radio system /efs
    chmod 0771 /efs
    mkdir /efs/Battery 0775 radio system
    chown radio system /efs/Battery
    chmod 0775 /efs/Battery
    class_start charger
